.element {
    background: #F4F6F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filter_ {
        background: #2D416F;
        border-radius: 6px;
        padding: 1rem ;
        cursor: pointer;
        color: white;
        margin-left: 1rem;
        border: none;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn {
        color: #fff;
        background: #4BAA79;
        border-radius: 4px;
        padding: 1rem 1.5em;
        border: none;
        outline: none;
        font-weight: 700;
        font-size: .875rem;
        cursor: pointer;
        transition:  all ease-in 300ms;

        &:hover {
            opacity: .9;
            transition: all .3ms ease;
        }

        .plus {
            margin-left: 1rem;
            font-size: .875rem;
        }
    }
}



@media screen and (min-width: 1024px) {
    .element {


        button {
            font-size: 1rem;

            .plus {
                font-size: 1.2rem;
            }
        }
    }
}

