.table {
    position: relative;
    overflow-x: auto;
    margin-top: 1rem;


    .table_main {
        width: 100%;
        font-size: .875rem;
        text-align: left;
        border-collapse: collapse;
        border: none;

        .tr_head {
            background-color: #2D416F;
        }

        th {
            color: white;
            font-family: "poppins", sans-serif;
            font-size: .875rem;
            padding: .875rem;
            text-transform: capitalize;
            white-space: nowrap;

            .title_icon {
                margin-left: .5rem;
                display: inline-block;
            }
        }
    }
}

.tr_body {
    // overflow-hidden whitespace-nowrap h-[100px] rounded-[10px] bg-white font-ubuntu rounded-[10px] bg-white border-b dark: bg-gray-900 dark:border-gray-700 mb-5
    // overflow: hidden;
    white-space: nowrap;
    padding: .875rem;
    color: #2D416F;
    height: 70px;
    font-family: "poppins", sans-serif;
    border-bottom: 1px solid rgba(205, 225, 227, 1);

    td {
        padding: .875rem;
        text-transform: capitalize;
        min-width: 100px;
    }
}

.action {
    // text-[#232E43] font-ubuntu text-sm lg: text-base px-6 py-4
    text-align: center;


}

.bond {
    position: relative;
    width: 100%;
    z-index: 999999999999999;

    .popup {
        width: 150px;
        position: absolute;
        z-index: 9999;
        right: 70%;
        top: 0rem;
        background: #fff;
        padding: .5rem;
        border-radius: 4px;
        box-shadow: 1px 10px 5px 0px rgba(201, 177, 177, 0.75);
        -webkit-box-shadow: 1px 10px 5px 0px rgba(201, 177, 177, 0.75);
        -moz-box-shadow: 1px 10px 5px 0px rgba(201, 177, 177, 0.75);

        button {
            outline: none;
            background: none;
            border: none;
            display: block;
            padding: .5rem;
            font-size: .75rem;
            cursor: pointer;
            font-family: 'poppins', sans-serif;

            &:hover {
                opacity: .8;
            }

            .con {
                margin-right: .5rem;
            }


        }

    }
}

.pop__ {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: 99;
    height: 100vh;
}

.edit {
    color: #2D416F;
}

.view {
    color: #E05453 !important;
}

.test {
    // text-[#232E43] font-ubuntu text-sm lg: text-base px-6 py-4
    padding: .875rem;
}

.activeCell {
    color: #4BAA79 ;
    text-align: center;
}

.inactiveCell {
    color: #E05453;
    text-align: center;
}
.boss {
    display: flex;
        justify-content: center;
        align-items: center;
}

.box {
    background: none;
    border: 1px solid #4BAA79;
    color: #4BAA79;
    outline: none;
    cursor: pointer;
    font-size: .5rem;
    padding: .1rem .2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status_{
    padding: .3rem .6rem;
    border-radius: 40px;
    font-family: 'poppins';
}

@media screen and (min-width: 1024px) {
    .box {
        font-size: 1rem;
    }
}