.taby {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
}

.left {
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-left: 1px solid rgba(212, 216, 226, 1);
    border-top: 1px solid rgba(212, 216, 226, 1);
    border-right: 1px solid rgba(212, 216, 226, 1);

}

.right {
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-left: 1px solid rgba(212, 216, 226, 1);
    border-right: 1px solid rgba(212, 216, 226, 1);
    border-top: 1px solid rgba(212, 216, 226, 1);
    // border-bottom: 1px solid rgba(212, 216, 226, 1) !important;
    // background: red;
}



.label {
    color: rgba(126, 126, 126, 1);
    text-transform: uppercase;
    font-size: .6rem;
}

.para {
    color: rgba(45, 65, 111, 1);
    font-size: .75rem;
    text-transform: capitalize;
}

.fix {
    display: none;
}

.fix_ {
    display: block !important;
    border-bottom: 1px solid rgba(212, 216, 226, 1) !important;
}

@media screen and (min-width: 1024px) {
    .taby {
        grid-template-columns: repeat(2, 1fr);
    }

    .label {
        font-size: .68rem;
    }

    .para {
        font-size: .875rem;
    }

    .left {
        border-right: none;
    }

    .fix {
        display: block;
        border-bottom: 1px solid rgba(212, 216, 226, 1);
    }
}