.cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: .75rem;
    font-family: 'Gilroy', sans-serif;

    .big {
        cursor: pointer;
        background: none;
        font-size: 1rem;
        cursor: pointer;
        outline: none;
        border: none;
        color: #ABB3C5;
        text-transform: capitalize;
        font-weight: 700;

    }

    .icon {
        font-size: 1rem;
        margin-left: .5rem;
        color: #ABB3C5;
    }

    .link {
        font-size: 1rem;
        cursor: pointer;
        text-transform: capitalize;
        color: #ABB3C5;
        font-weight: 700;
        margin-left: .5rem;
    }

    .link_active {
        font-size: 1rem;
        cursor: pointer;
        text-transform: capitalize;
        color: #2D416F;
        font-weight: 700;
        margin-left: .5rem;
    }
}