.cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Gilroy', sans-serif;
    padding-bottom: .75rem;

    .big {
        cursor: pointer;
        background: none;
        font-size: 1rem;
        cursor: pointer;
        outline: none;
        border: none;
        color: #ABB3C5;
        text-transform: capitalize;
        font-weight: 700;
        margin-top: .75rem;
    }

    .icon {
        font-size: 1rem;
        color: #ABB3C5;
        margin: 0 .5rem;
        margin-top: .75rem;
    }

    .link {
        font-size: 1rem;
        cursor: pointer;
        text-transform: capitalize;
        color: #ABB3C5;
        font-weight: 700;
        margin-top: .75rem;
    }

    .link_active {
        font-size: 1rem;
        cursor: pointer;
        text-transform: capitalize;
        color: #2D416F;
        font-weight: 700;
        margin-top: .75rem;
    }
}

@media screen and (min-width: 1024px) {
    .cont {
        .big {
            margin-left: 1rem;
        }
    }
}