.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    width: 100%;
    font-family: 'Gilroy', sans-serif;
    margin-top: 1rem;

    .top {
        display: none;
    }


}

.right {
    display: flex;
    align-items: center;
}

.profile_con {
    display: flex;
    align-items: center;
    position: relative;
}

.link_ {

    display: none;
    margin-right: 1rem;
    color: #2D416F;
    font-size: .875rem;
    transition: all ease-in 300ms;
    position: relative;

    &:hover {
        opacity: .8;
    }
}

.img_con {
    display: none;
    margin-right: 1rem;
    color: #2D416F;
    transition: all ease-in 300ms;
    position: relative;

    img {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        object-fit: contain;
    }

    &:hover {
        opacity: .8;
    }
}

.profile {
    display: none;
    margin-right: 1rem;

    h1 {
        font-size: 1rem;
        text-transform: capitalize;
        color: #2D416F;
        font-weight: 600;
    }

    p {
        font-size: .875rem;
        color: #818DA9;
        text-transform: capitalize;
        font-weight: 400;
    }

    // hidden lg: block mr-5 text-black lg:text-base text-sm capitalize hover:opacity-80 ease-in duration-300
}

.burger_btn {
    // block lg: hidden text-[#7C8DB5] text-xl lg:text-2xl mr-0 hover:opacity-80 ease-in duration-300
    display: block;
    color: #2D416F;
    font-size: 1.5rem;
    margin-right: 0;
    transition: all ease-in 300ms;
    background: none;
    border: none;
    outline: none;

    &:hover {
        opacity: .8;
    }

}

@media screen and (min-width: 1024px) {
    .header {
        padding: 1rem !important;
        margin-top: 0rem;
        background: white;

        .top {
            display: flex;
            align-items: center;
        }
    }

    .link_ {
        display: inline-block;
        font-size: 1rem;
    }

    .img_con {
        display: inline-block;
    }

    .profile {
        display: block;

        h1 {
            font-size: 1.125rem;
        }
    }

    .burger_btn {
        display: none;
    }
}